services:
  autossh-dynamic-forward:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped

    environment:
      # --- リモートサーバーへの接続情報 ---
      SSH_USER: "${SSH_USER}"
      SSH_HOST: "${SSH_HOST}"
      SSH_PORT: "${SSH_PORT}"
      
      SSH_KEY_PATH: "/root/.ssh/${IDENTITY_FILE}"

      # --- トンネル設定 ---
      DYNAMIC_PORT: "${DYNAMIC_PORT}"
    
    ports:
      - "${DYNAMIC_PORT}:${DYNAMIC_PORT}"

    volumes:
      - ./ssh_key/${IDENTITY_FILE}:/root/.ssh/${IDENTITY_FILE}:ro
      - ./ssh_key/known_hosts:/root/.ssh/known_hosts:ro